<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat App</title>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js">
    </script>
    <script defer src="script.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        a {
            background-color: rgb(219, 244, 252);
        }

        h2 {
            color: rgb(252, 13, 13);
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 style="text-align: center;">Real-time Chat Rooms <small>with</small> <strong
                style="color: red;">Socket.io</strong></h1>
        <div id="room-container">
            <% Object.keys(rooms).forEach(room => { %>
            <h2> <%= room %> </h2>
            <label>Join:</label>
            <a href="/<%= room %>">[<%= room %>]</a>
            <hr>
            <% })%>
        </div>
        <form action="/room" method="POST">
            <input class="form-control" type="text" name="room" required>
            <button class="btn btn-dark" type="submit">New Chat Room</button>
        </form>
    </div>
</body>

</html>